"security/cors": {
    "allow_origins": ["*"],
    "max_age": "12h",
    "allow_methods": [
        "GET",
        "HEAD",
        "POST",
        "PUT",
        "DELETE",
        "OPTIONS",
        "PATCH"
    ],
    "expose_headers": [
        "Content-Length",
        "Content-Type"
      ],
      "allow_headers": [
        "Accept",
        "Accept-Language",
        "Host",
        "User-Agent"
      ]
}
